@-webkit-keyframes bottomit {
  100% {
    height: 0;
    top: 100%;
  }
}

@keyframes bottomit {
  100% {
    height: 0;
    top: 100%;
  }
}

@-webkit-keyframes topit {
  100% {
    height: 0;
    bottom: 100%;
  }
}

@keyframes topit {
  100% {
    height: 0;
    bottom: 100%;
  }
}

@-webkit-keyframes rotateIT {
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}

@keyframes rotateIT {
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}

@-webkit-keyframes scale1 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scale1 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes width50 {
  100% {
    width: 50%;
  }
}

@keyframes width50 {
  100% {
    width: 50%;
  }
}

@-webkit-keyframes height100 {
  100% {
    height: 100vh;
  }
}

@keyframes height100 {
  100% {
    height: 100vh;
  }
}

@-webkit-keyframes slideUph1 {
  100% {
    top: 23vh;
    opacity: 1;
  }
}

@keyframes slideUph1 {
  100% {
    top: 23vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideUph2 {
  100% {
    top: 52vh;
    opacity: 1;
  }
}

@keyframes slideUph2 {
  100% {
    top: 52vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideUpspan {
  100% {
    top: 67vh;
    opacity: 1;
  }
}

@keyframes slideUpspan {
  100% {
    top: 67vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideh3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideh3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  outline: none;
}

.section.slide1 .anime-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.slide1 .anime-background div {
  position: relative;
  width: calc(100% / 10);
  height: 100vh;
  z-index: 9;
}

.section.slide1 .anime-background div.top {
  background: #5c71c6;
  bottom: 0%;
}

.section.slide1 .anime-background div.bottom {
  background: #dadff3;
  top: 0%;
}

.section.slide1 .right-sec {
  position: absolute;
  width: 50%;
  right: 0;
  height: 0;
  bottom: 0;
  background-color: #f6f6f8;
  -webkit-animation: height100 1s ease-out 7.3s forwards;
          animation: height100 1s ease-out 7.3s forwards;
}

.section.slide1 .right-sec img#fr-RT-190 {
  width: 15vh;
  position: absolute;
  top: 13vh;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 10vh;
  -webkit-filter: invert(40%) sepia(82%) saturate(375%) hue-rotate(191deg) brightness(95%) contrast(94%);
          filter: invert(40%) sepia(82%) saturate(375%) hue-rotate(191deg) brightness(95%) contrast(94%);
  -webkit-animation: rotateIT 2s linear infinite 8.3s;
          animation: rotateIT 2s linear infinite 8.3s;
}

.section.slide1 .right-sec img#fr-RT_79 {
  width: 38vh;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin-left: 50%;
  -webkit-animation: scale1 1s ease-in-out 8.5s forwards;
          animation: scale1 1s ease-in-out 8.5s forwards;
}

.section.slide1 .left-sec {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100vh;
  background-color: #5c71c6;
  -webkit-animation: width50 1s ease-out 3.5s forwards;
          animation: width50 1s ease-out 3.5s forwards;
}

.section.slide1 .left-sec h1 {
  font-size: 8vh;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 0.3vh;
  position: absolute;
  top: 45vh;
  line-height: 11vh;
  opacity: 0;
  -webkit-animation: slideUph1 0.9s ease-in-out 4.5s forwards;
          animation: slideUph1 0.9s ease-in-out 4.5s forwards;
}

.section.slide1 .left-sec h2 {
  font-size: 3vh;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 0.3vh;
  position: absolute;
  top: 65vh;
  opacity: 0;
  -webkit-animation: slideUph2 0.7s ease-in-out 5.4s forwards;
          animation: slideUph2 0.7s ease-in-out 5.4s forwards;
}

.section.slide1 .left-sec span {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  color: #5c71c6;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8vh;
  padding: 1.5vh 3vh;
  text-align: center;
  top: 80vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: slideUpspan 0.7s ease-in-out 6.1s forwards;
          animation: slideUpspan 0.7s ease-in-out 6.1s forwards;
}

.section.slide1 .left-sec .botm {
  position: absolute;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 5vh;
  left: 50%;
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.section.slide1 .left-sec .botm h3 {
  letter-spacing: 0.2vh;
}

.section.slide1 .left-sec .botm h3:first-of-type {
  -webkit-transform: translateX(-30vh);
          transform: translateX(-30vh);
  -webkit-animation: slideh3 0.5s ease-in-out 6.8s forwards;
          animation: slideh3 0.5s ease-in-out 6.8s forwards;
}

.section.slide1 .left-sec .botm h3:last-of-type {
  -webkit-transform: translateX(30vh);
          transform: translateX(30vh);
  -webkit-animation: slideh3 0.5s ease-in-out 6.8s forwards;
          animation: slideh3 0.5s ease-in-out 6.8s forwards;
}
/*# sourceMappingURL=style.css.map */