@import "keyframes.scss";
.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  outline: none;
  &.slide1 {
    .anime-background {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      div {
        position: relative;
        width: calc(100% / 10);
        height: 100vh;
        z-index: 9;
        &.top {
          background: #5c71c6;
          bottom: 0%;
        }
        &.bottom {
          background: #dadff3;
          top: 0%;
        }
      }
    }
    .right-sec {
      position: absolute;
      width: 50%;
      right: 0;
      height: 0;
      bottom: 0;
      background-color: #f6f6f8;
      animation: height100 1s ease-out 7.3s forwards;
      img#fr-RT-190 {
        width: 15vh;
        position: absolute;
        top: 13vh;
        transform: translate(0, -50%);
        left: 10vh;
        filter: invert(40%) sepia(82%) saturate(375%) hue-rotate(191deg)
          brightness(95%) contrast(94%);
        animation: rotateIT 2s linear infinite 8.3s, op1 1s linear 8.3s forwards;
        opacity: 0;
      }
      img#fr-RT_79 {
        width: 52vh;
        position: absolute;
        top: 53%;
        transform: translate(-50%, -50%) scale(0);
        margin-left: 50%;
        animation: scale1 1s ease-in-out 8.5s forwards;
      }
    }
    .left-sec {
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100vh;
      background-color: #5c71c6;
      animation: width50 1s ease-out 3.5s forwards;
      h1 {
        font-size: 8vh;
        font-family: "Ubuntu", sans-serif;
        text-align: center;
        color: #fff;
        width: 100%;
        letter-spacing: 0.3vh;
        position: absolute;
        top: 45vh;
        line-height: 11vh;
        opacity: 0;
        animation: slideUph1 0.9s ease-in-out 4.5s forwards;
      }
      h2 {
        font-size: 3vh;
        font-family: "Ubuntu", sans-serif;
        text-align: center;
        color: #fff;
        width: 100%;
        letter-spacing: 0.3vh;
        position: absolute;

        top: 65vh;
        opacity: 0;
        animation: slideUph2 0.7s ease-in-out 5.4s forwards;
      }
      span {
        position: absolute;
        width: fit-content;
        background-color: #fff;
        color: #5c71c6;
        font-family: "Ubuntu", sans-serif;
        font-size: 2.8vh;
        padding: 1.5vh 3vh;
        text-align: center;
        top: 80vh;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation: slideUpspan 0.7s ease-in-out 6.1s forwards;
      }
      .botm {
        position: absolute;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 5vh;
        left: 50%;
        transform: translateX(-51%);
        font-family: "Ubuntu", sans-serif;
        color: #fff;
        h3 {
          letter-spacing: 0.2vh;
          opacity: 0;
          font-size: 2vh;
          &:first-of-type {
            transform: translateX(-30vh);
            animation: slideh3 0.5s ease-in-out 6.8s forwards;
          }
          &:last-of-type {
            transform: translateX(30vh);
            animation: slideh3 0.5s ease-in-out 6.8s forwards;
          }
        }
      }
    }
  }
  &.slide2 {
    font-family: "Ubuntu", sans-serif;

    h3 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 8vh);
      font-size: 5vh;
      margin: 10vh 0;
      color: rgb(93, 114, 198);
      letter-spacing: 0.2vh;
      transition: 0.7s opacity, 0.7s transform;
      opacity: 0;
    }
    ul {
      position: absolute;
      top: 24vh;
      list-style: decimal;
      margin-left: 6vh;
      li {
        font-size: 3.5vh;
        margin: 5vh 0;
        color: #040f47;
        font-weight: 500;
        letter-spacing: 0.2vh;
        transform: translateX(10vh);
        opacity: 0;
        transition: 0.5s transform, 0.5s opacity;
      }
    }
    div.con {
      position: absolute;
      left: 90%;
      top: 50%;
      transform: translate(-100%, -50%);
      width: 70vh;
      height: auto;
      img {
        width: 100%;
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        transition: 0.5s height;
      }
    }
    &.active {
      h3 {
        transform: translate(-50%, 0vh);
        opacity: 1;
        transition-delay: 0.5s;
      }
      @for $i from 3 to 9 {
        li:nth-child(#{$i - 2}) {
          opacity: 1;
          transform: translateX(0);
          transition-delay: $i * 0.3s;
        }
      }
      div.con::before {
        height: 0;
        transition-delay: 2.6s;
      }
    }
  }
  &.slide3,
  &.slide5,
  &.slide7,
  &.slide9,
  &.slide11 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    svg {
      position: absolute;
      top: 55%;
      left: 52%;
      transform: translate(-50%, -50%);
      width: 55%;
      height: 55%;
      g#board {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        overflow: hidden;
        transition: 1s clip-path;
      }
      g#text {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        transition: 0.8s clip-path;
      }
      g#question-mark {
        transform: translateY(-10vh);
        opacity: 0;
        transition: 0.5s opacity, 0.5s transform;
      }
      g#teacher {
        display: none;
        opacity: 0;
        transform: translateY(-50vh);
        transition: 0.5s opacity, 0.5s transform;
      }
    }
    &.active {
      svg {
        g#board {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          transition-delay: 0.5s;
        }
        #text {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          transition-delay: 1.5s;
        }
        #question-mark {
          transform: translateY(0vh);
          opacity: 1;
          transition-delay: 2s;
        }
      }
    }
  }
  &.slide4 {
    .top-sec_title {
      position: absolute;
      top: 0;
      font-size: 3vh;
      letter-spacing: 0.2vh;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      width: 100%;
      margin-top: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: fit-content;
        transition: 0.5s transform, 0.5s opacity;
        transform: translateX(-30vh);
        opacity: 0;
      }
      img {
        width: 15vh;
        margin-left: 10vh;
        transform: translateY(-2.5vh);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: 0.5s clip-path;
      }
    }
    .con-TY {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150vh;
      position: absolute;
      left: 45%;
      transform: translateX(-50%);
      top: 24vh;
      span {
        font-family: "Ubuntu";
        letter-spacing: 0.2vh;
        font-size: 2.3vh;
        text-transform: capitalize;
        background-color: #5c71c6;
        color: #fff;
        padding: 0.8vh 2vh;
        transform: translateX(-10vh);
        opacity: 0;
        transition: 0.5s opacity, 0.5s transform;
        transition-delay: 0.3s;
        &:last-of-type {
          padding: 0.8vh 3vh;
          transform: translateX(10vh);
        }
      }
    }
    .uls {
      display: flex;
      justify-content: space-between;
      width: 150vh;
      position: absolute;
      left: 45%;
      transform: translateX(-50%);
      top: 33vh;
      .ul {
        display: flex;
        flex-direction: column;
        //text-align: center;

        width: auto;
        &.two {
          transform: translateX(14vh);
        }
        .item {
          margin: 2vh 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: fit-content;
          transition: 0.5s opacity, 0.5s transform;
          transform: translateX(-10vh);
          opacity: 0;
          li {
            list-style: none;
            font-size: 2vh;
            font-family: sans-serif;
            text-transform: capitalize;
          }
        }
      }
    }
    &.active {
      .top-sec_title {
        span {
          transition-delay: 1s;
          transform: translateX(0vh);
          opacity: 1 !important;
        }
        img {
          transition-delay: 2s;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }
  }
  &.slide6 {
    .left-sec {
      position: absolute;
      width: 50%;
      height: 100vh;
      top: 0;
      left: 0;
      p {
        position: absolute;
        font-family: "Ubuntu";
        font-size: 2vh;
        top: 50%;
        transform: translateY(40vh);
        text-align: justify;
        margin: 2vh 4vh;
        line-height: 3.8vh;
        opacity: 0;
        transition: 0.5s opacity, 0.5s transform;
      }
    }
    .name {
      position: absolute;
      top: 10vh;
      left: 50%;
      transform: translate(-50%, 20vh);
      font-family: "Ubuntu";
      font-size: 3.5vh;
      letter-spacing: 0.3vh;
      color: #040f47;
      font-weight: 600;
      transition: 0.5s transform, 0.5s opacity;
      opacity: 0;
    }
    span {
      position: absolute;
      top: 15vh;
      left: 50%;
      transform: translateX(-50%);
      font-family: "Ubuntu";
      font-size: 1.5vh;
      letter-spacing: 0.1vh;
      color: #040f47;
      text-align: center;
      width: 50vh;
      line-height: 2.5vh;
    }
    .right-sec {
      position: absolute;
      right: 0;
      width: 50%;
      height: 100vh;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .con-img {
        width: 50vh;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(9vh);
        overflow: hidden;
        &::before {
          position: absolute;
          width: 150%;
          height: 150%;
          background-color: #040f47;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: "";
          transition: 0.5s clip-path, 0.8s opacity;
          opacity: 1;
          clip-path: circle(50% at 50% 50%);
          z-index: 3;
        }
        &::after {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #fff;
          top: 0%;
          left: 0%;
          content: "";
          transition: 0.5s height;
          z-index: 2;
        }
        img {
          width: 70%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
        }
      }
    }
    &.active {
      .con-img {
        &::before {
          clip-path: circle(0% at 50% 50%);
          transition-delay: 0.6s;
          opacity: 0;
        }
        &::after {
          height: 0;
          transition-delay: 1.3s;
        }
      }
      .name {
        transform: translate(-50%, 0vh);
        opacity: 1;
        transition-delay: 1.6s;
      }
      p {
        transform: translateY(-50%);
        opacity: 1;
        transition-delay: 2s;
      }
    }
  }
  &.slide8 {
    .before {
      position: absolute;
      width: 50%;
      top: 0;
      left: 0;
      height: 100vh;
      //background-color: yellow;
      .title {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 7vh;
        font-size: 2.2vh;
        font-family: "Ubuntu";
        letter-spacing: 0.15vh;
        span {
          position: absolute;
          transform: translateX(-16vh);
          background-color: #dadff3;
          color: #010101;
          padding: 1vh 7vh;
        }
      }
      .img {
        &.ones {
          position: absolute;
          top: 22vh;
          left: 50%;
          transform: translateX(-73%);
          img {
            width: 20vh;
          }
        }
        &.on {
          position: absolute;
          top: 54vh;
          left: 50%;
          transform: translateX(-82%);
          img {
            width: 15vh;
          }
        }
        &.on2 {
          position: absolute;
          top: 78vh;
          left: 50%;
          transform: translateX(-72%);
          img {
            width: 25vh;
          }
        }
      }
    }
    .after {
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;
      height: 100vh;
      //background-color: #5c71c6;
      .title {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 7vh;
        font-size: 2.2vh;
        font-family: "Ubuntu";
        letter-spacing: 0.15vh;
        span {
          position: absolute;
          transform: translateX(-5vh);

          background-color: #5c71c6;
          color: #fff;
          padding: 1vh 7vh;
        }
      }
      .o___yuy {
        position: absolute;
        top: 15vh;
        width: 100%;
        height: 82vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        #onei {
          width: 15vh;
        }
        #twoi {
          width: 15vh;
          margin-left: 3vh;
          margin-top: 5vh;
        }
        #threei {
          width: 15vh;
          margin-left: 9vh;
          margin-top: 5vh;
        }
        #fivei {
          width: 25vh;
          margin-left: 9vh;
          margin-top: 5vh;
        }
        #fouri {
          width: 10vh;
          margin-left: 10vh;
          margin-top: 5vh;
        }
      }
    }
  }
  &.slide10 {
    .title {
      position: absolute;
      top: 8vh;
      width: 100%;
      text-align: center;
      font-family: "Ubuntu";
      span {
        font-size: 2.5vh;
        text-transform: capitalize;
        transition: 0.5s transform, 0.5s opacity;
        transform: translateY(15vh);
        opacity: 0;
      }
    }
    .con {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: fit-content;
      flex-wrap: wrap;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      .fg {
        position: relative;
        width: 25vh;
        height: fit-content;
        margin: 2vh;
        transition: 0.5s opacity;
        opacity: 1;
        transition-delay: 0.2s;
        &.nt90 {
          opacity: 0;
        }
        .con-def {
          width: 100%;
          height: 5vh;
          font-family: "Ubuntu";
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0.1vh solid #000;
          padding: 1.5vh 0.5vh;
          span {
            font-size: 1.8vh;
          }
        }
        .con-img {
          width: 100%;
          height: 15vh;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 0.1vh solid #000;
          border-left: 0.1vh solid #000;
          border-right: 0.1vh solid #000;

          padding: 0.5vh;

          img {
            width: 80%;
            height: 80%;
            object-fit: contain;
          }
        }
      }
    }
    &.active {
      .title {
        span {
          transition-delay: .8s;
          transform: translateY(0vh);
          opacity: 1;
        }
      }
    }
  }
}
