@-webkit-keyframes bottomit {
  100% {
    height: 0;
    top: 100%;
  }
}

@keyframes bottomit {
  100% {
    height: 0;
    top: 100%;
  }
}

@-webkit-keyframes topit {
  100% {
    height: 0;
    bottom: 100%;
  }
}

@keyframes topit {
  100% {
    height: 0;
    bottom: 100%;
  }
}

@-webkit-keyframes rotateIT {
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}

@keyframes rotateIT {
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}

@-webkit-keyframes scale1 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scale1 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes width50 {
  100% {
    width: 50%;
  }
}

@keyframes width50 {
  100% {
    width: 50%;
  }
}

@-webkit-keyframes height100 {
  100% {
    height: 100vh;
  }
}

@keyframes height100 {
  100% {
    height: 100vh;
  }
}

@-webkit-keyframes slideUph1 {
  100% {
    top: 23vh;
    opacity: 1;
  }
}

@keyframes slideUph1 {
  100% {
    top: 23vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideUph2 {
  100% {
    top: 52vh;
    opacity: 1;
  }
}

@keyframes slideUph2 {
  100% {
    top: 52vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideUpspan {
  100% {
    top: 67vh;
    opacity: 1;
  }
}

@keyframes slideUpspan {
  100% {
    top: 67vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideh3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideh3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes op1 {
  100% {
    opacity: 1;
  }
}

@keyframes op1 {
  100% {
    opacity: 1;
  }
}

.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  outline: none;
}

.section.slide1 .anime-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.slide1 .anime-background div {
  position: relative;
  width: calc(100% / 10);
  height: 100vh;
  z-index: 9;
}

.section.slide1 .anime-background div.top {
  background: #5c71c6;
  bottom: 0%;
}

.section.slide1 .anime-background div.bottom {
  background: #dadff3;
  top: 0%;
}

.section.slide1 .right-sec {
  position: absolute;
  width: 50%;
  right: 0;
  height: 0;
  bottom: 0;
  background-color: #f6f6f8;
  -webkit-animation: height100 1s ease-out 7.3s forwards;
          animation: height100 1s ease-out 7.3s forwards;
}

.section.slide1 .right-sec img#fr-RT-190 {
  width: 15vh;
  position: absolute;
  top: 13vh;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 10vh;
  -webkit-filter: invert(40%) sepia(82%) saturate(375%) hue-rotate(191deg) brightness(95%) contrast(94%);
          filter: invert(40%) sepia(82%) saturate(375%) hue-rotate(191deg) brightness(95%) contrast(94%);
  -webkit-animation: rotateIT 2s linear infinite 8.3s, op1 1s linear 8.3s forwards;
          animation: rotateIT 2s linear infinite 8.3s, op1 1s linear 8.3s forwards;
  opacity: 0;
}

.section.slide1 .right-sec img#fr-RT_79 {
  width: 52vh;
  position: absolute;
  top: 53%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin-left: 50%;
  -webkit-animation: scale1 1s ease-in-out 8.5s forwards;
          animation: scale1 1s ease-in-out 8.5s forwards;
}

.section.slide1 .left-sec {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100vh;
  background-color: #5c71c6;
  -webkit-animation: width50 1s ease-out 3.5s forwards;
          animation: width50 1s ease-out 3.5s forwards;
}

.section.slide1 .left-sec h1 {
  font-size: 8vh;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 0.3vh;
  position: absolute;
  top: 45vh;
  line-height: 11vh;
  opacity: 0;
  -webkit-animation: slideUph1 0.9s ease-in-out 4.5s forwards;
          animation: slideUph1 0.9s ease-in-out 4.5s forwards;
}

.section.slide1 .left-sec h2 {
  font-size: 3vh;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 0.3vh;
  position: absolute;
  top: 65vh;
  opacity: 0;
  -webkit-animation: slideUph2 0.7s ease-in-out 5.4s forwards;
          animation: slideUph2 0.7s ease-in-out 5.4s forwards;
}

.section.slide1 .left-sec span {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  color: #5c71c6;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8vh;
  padding: 1.5vh 3vh;
  text-align: center;
  top: 80vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: slideUpspan 0.7s ease-in-out 6.1s forwards;
          animation: slideUpspan 0.7s ease-in-out 6.1s forwards;
}

.section.slide1 .left-sec .botm {
  position: absolute;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 5vh;
  left: 50%;
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.section.slide1 .left-sec .botm h3 {
  letter-spacing: 0.2vh;
  opacity: 0;
  font-size: 2vh;
}

.section.slide1 .left-sec .botm h3:first-of-type {
  -webkit-transform: translateX(-30vh);
          transform: translateX(-30vh);
  -webkit-animation: slideh3 0.5s ease-in-out 6.8s forwards;
          animation: slideh3 0.5s ease-in-out 6.8s forwards;
}

.section.slide1 .left-sec .botm h3:last-of-type {
  -webkit-transform: translateX(30vh);
          transform: translateX(30vh);
  -webkit-animation: slideh3 0.5s ease-in-out 6.8s forwards;
          animation: slideh3 0.5s ease-in-out 6.8s forwards;
}

.section.slide2 {
  font-family: "Ubuntu", sans-serif;
}

.section.slide2 h3 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 8vh);
          transform: translate(-50%, 8vh);
  font-size: 5vh;
  margin: 10vh 0;
  color: #5d72c6;
  letter-spacing: 0.2vh;
  -webkit-transition: 0.7s opacity, 0.7s -webkit-transform;
  transition: 0.7s opacity, 0.7s -webkit-transform;
  transition: 0.7s opacity, 0.7s transform;
  transition: 0.7s opacity, 0.7s transform, 0.7s -webkit-transform;
  opacity: 0;
}

.section.slide2 ul {
  position: absolute;
  top: 24vh;
  list-style: decimal;
  margin-left: 6vh;
}

.section.slide2 ul li {
  font-size: 3.5vh;
  margin: 5vh 0;
  color: #040f47;
  font-weight: 500;
  letter-spacing: 0.2vh;
  -webkit-transform: translateX(10vh);
          transform: translateX(10vh);
  opacity: 0;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.5s opacity;
  transition: 0.5s transform, 0.5s opacity, 0.5s -webkit-transform;
}

.section.slide2 div.con {
  position: absolute;
  left: 90%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  width: 70vh;
  height: auto;
}

.section.slide2 div.con img {
  width: 100%;
}

.section.slide2 div.con::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-transition: 0.5s height;
  transition: 0.5s height;
}

.section.slide2.active h3 {
  -webkit-transform: translate(-50%, 0vh);
          transform: translate(-50%, 0vh);
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section.slide2.active li:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.section.slide2.active li:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.section.slide2.active li:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.section.slide2.active li:nth-child(4) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.section.slide2.active li:nth-child(5) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

.section.slide2.active li:nth-child(6) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.section.slide2.active div.con::before {
  height: 0;
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

.section.slide3, .section.slide5, .section.slide7, .section.slide9, .section.slide11, .section.slide13, .section.slide15 {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.section.slide3 svg, .section.slide5 svg, .section.slide7 svg, .section.slide9 svg, .section.slide11 svg, .section.slide13 svg, .section.slide15 svg {
  position: absolute;
  top: 55%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
}

.section.slide3 svg g#board, .section.slide5 svg g#board, .section.slide7 svg g#board, .section.slide9 svg g#board, .section.slide11 svg g#board, .section.slide13 svg g#board, .section.slide15 svg g#board {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  overflow: hidden;
  -webkit-transition: 1s -webkit-clip-path;
  transition: 1s -webkit-clip-path;
  transition: 1s clip-path;
  transition: 1s clip-path, 1s -webkit-clip-path;
}

.section.slide3 svg g#text, .section.slide5 svg g#text, .section.slide7 svg g#text, .section.slide9 svg g#text, .section.slide11 svg g#text, .section.slide13 svg g#text, .section.slide15 svg g#text {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-transition: 0.8s -webkit-clip-path;
  transition: 0.8s -webkit-clip-path;
  transition: 0.8s clip-path;
  transition: 0.8s clip-path, 0.8s -webkit-clip-path;
}

.section.slide3 svg g#question-mark, .section.slide5 svg g#question-mark, .section.slide7 svg g#question-mark, .section.slide9 svg g#question-mark, .section.slide11 svg g#question-mark, .section.slide13 svg g#question-mark, .section.slide15 svg g#question-mark {
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  opacity: 0;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s transform;
  transition: 0.5s opacity, 0.5s transform, 0.5s -webkit-transform;
}

.section.slide3 svg g#teacher, .section.slide5 svg g#teacher, .section.slide7 svg g#teacher, .section.slide9 svg g#teacher, .section.slide11 svg g#teacher, .section.slide13 svg g#teacher, .section.slide15 svg g#teacher {
  display: none;
  opacity: 0;
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s transform;
  transition: 0.5s opacity, 0.5s transform, 0.5s -webkit-transform;
}

.section.slide3.active svg g#board, .section.slide5.active svg g#board, .section.slide7.active svg g#board, .section.slide9.active svg g#board, .section.slide11.active svg g#board, .section.slide13.active svg g#board, .section.slide15.active svg g#board {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section.slide3.active svg #text, .section.slide5.active svg #text, .section.slide7.active svg #text, .section.slide9.active svg #text, .section.slide11.active svg #text, .section.slide13.active svg #text, .section.slide15.active svg #text {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.section.slide3.active svg #question-mark, .section.slide5.active svg #question-mark, .section.slide7.active svg #question-mark, .section.slide9.active svg #question-mark, .section.slide11.active svg #question-mark, .section.slide13.active svg #question-mark, .section.slide15.active svg #question-mark {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  opacity: 1;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.section.slide4 .top-sec_title {
  position: absolute;
  top: 0;
  font-size: 3vh;
  letter-spacing: 0.2vh;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.slide4 .top-sec_title span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.5s opacity;
  transition: 0.5s transform, 0.5s opacity, 0.5s -webkit-transform;
  -webkit-transform: translateX(-30vh);
          transform: translateX(-30vh);
  opacity: 0;
}

.section.slide4 .top-sec_title img {
  width: 15vh;
  margin-left: 10vh;
  -webkit-transform: translateY(-2.5vh);
          transform: translateY(-2.5vh);
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  -webkit-transition: 0.5s -webkit-clip-path;
  transition: 0.5s -webkit-clip-path;
  transition: 0.5s clip-path;
  transition: 0.5s clip-path, 0.5s -webkit-clip-path;
}

.section.slide4 .con-TY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150vh;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 24vh;
}

.section.slide4 .con-TY span {
  font-family: "Ubuntu";
  letter-spacing: 0.2vh;
  font-size: 2.3vh;
  text-transform: capitalize;
  background-color: #5c71c6;
  color: #fff;
  padding: 0.8vh 2vh;
  -webkit-transform: translateX(-10vh);
          transform: translateX(-10vh);
  opacity: 0;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s transform;
  transition: 0.5s opacity, 0.5s transform, 0.5s -webkit-transform;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.section.slide4 .con-TY span:last-of-type {
  padding: 0.8vh 3vh;
  -webkit-transform: translateX(10vh);
          transform: translateX(10vh);
}

.section.slide4 .uls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150vh;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 33vh;
}

.section.slide4 .uls .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.section.slide4 .uls .ul.two {
  -webkit-transform: translateX(14vh);
          transform: translateX(14vh);
}

.section.slide4 .uls .ul .item {
  margin: 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s transform;
  transition: 0.5s opacity, 0.5s transform, 0.5s -webkit-transform;
  -webkit-transform: translateX(-10vh);
          transform: translateX(-10vh);
  opacity: 0;
}

.section.slide4 .uls .ul .item li {
  list-style: none;
  font-size: 2vh;
  font-family: sans-serif;
  text-transform: capitalize;
}

.section.slide4.active .top-sec_title span {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: translateX(0vh);
          transform: translateX(0vh);
  opacity: 1 !important;
}

.section.slide4.active .top-sec_title img {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.section.slide6 .left-sec {
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
}

.section.slide6 .left-sec p {
  position: absolute;
  font-family: "Ubuntu";
  font-size: 2vh;
  top: 50%;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  text-align: justify;
  margin: 2vh 4vh;
  line-height: 3.8vh;
  opacity: 0;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s transform;
  transition: 0.5s opacity, 0.5s transform, 0.5s -webkit-transform;
}

.section.slide6 .name {
  position: absolute;
  top: 10vh;
  left: 50%;
  -webkit-transform: translate(-50%, 20vh);
          transform: translate(-50%, 20vh);
  font-family: "Ubuntu";
  font-size: 3.5vh;
  letter-spacing: 0.3vh;
  color: #040f47;
  font-weight: 600;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.5s opacity;
  transition: 0.5s transform, 0.5s opacity, 0.5s -webkit-transform;
  opacity: 0;
}

.section.slide6 span {
  position: absolute;
  top: 15vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Ubuntu";
  font-size: 1.5vh;
  letter-spacing: 0.1vh;
  color: #040f47;
  text-align: center;
  width: 50vh;
  line-height: 2.5vh;
}

.section.slide6 .right-sec {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.slide6 .right-sec .con-img {
  width: 50vh;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(9vh);
          transform: translateX(9vh);
  overflow: hidden;
}

.section.slide6 .right-sec .con-img::before {
  position: absolute;
  width: 150%;
  height: 150%;
  background-color: #040f47;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  -webkit-transition: 0.8s opacity, 0.5s -webkit-clip-path;
  transition: 0.8s opacity, 0.5s -webkit-clip-path;
  transition: 0.5s clip-path, 0.8s opacity;
  transition: 0.5s clip-path, 0.8s opacity, 0.5s -webkit-clip-path;
  opacity: 1;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  z-index: 3;
}

.section.slide6 .right-sec .con-img::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0%;
  left: 0%;
  content: "";
  -webkit-transition: 0.5s height;
  transition: 0.5s height;
  z-index: 2;
}

.section.slide6 .right-sec .con-img img {
  width: 70%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.section.slide6.active .con-img::before {
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  opacity: 0;
}

.section.slide6.active .con-img::after {
  height: 0;
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.section.slide6.active .name {
  -webkit-transform: translate(-50%, 0vh);
          transform: translate(-50%, 0vh);
  opacity: 1;
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.section.slide6.active p {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.section.slide8 .before {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 100vh;
}

.section.slide8 .before .title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 7vh;
  font-size: 2.2vh;
  font-family: "Ubuntu";
  letter-spacing: 0.15vh;
}

.section.slide8 .before .title span {
  position: absolute;
  -webkit-transform: translateX(-16vh);
          transform: translateX(-16vh);
  background-color: #dadff3;
  color: #010101;
  padding: 1vh 7vh;
}

.section.slide8 .before .img.ones {
  position: absolute;
  top: 22vh;
  left: 50%;
  -webkit-transform: translateX(-73%);
          transform: translateX(-73%);
}

.section.slide8 .before .img.ones img {
  width: 20vh;
}

.section.slide8 .before .img.on {
  position: absolute;
  top: 54vh;
  left: 50%;
  -webkit-transform: translateX(-82%);
          transform: translateX(-82%);
}

.section.slide8 .before .img.on img {
  width: 15vh;
}

.section.slide8 .before .img.on2 {
  position: absolute;
  top: 78vh;
  left: 50%;
  -webkit-transform: translateX(-72%);
          transform: translateX(-72%);
}

.section.slide8 .before .img.on2 img {
  width: 25vh;
}

.section.slide8 .after {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  height: 100vh;
}

.section.slide8 .after .title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 7vh;
  font-size: 2.2vh;
  font-family: "Ubuntu";
  letter-spacing: 0.15vh;
}

.section.slide8 .after .title span {
  position: absolute;
  -webkit-transform: translateX(-5vh);
          transform: translateX(-5vh);
  background-color: #5c71c6;
  color: #fff;
  padding: 1vh 7vh;
}

.section.slide8 .after .o___yuy {
  position: absolute;
  top: 15vh;
  width: 100%;
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.slide8 .after .o___yuy #onei {
  width: 15vh;
}

.section.slide8 .after .o___yuy #twoi {
  width: 15vh;
  margin-left: 3vh;
  margin-top: 5vh;
}

.section.slide8 .after .o___yuy #threei {
  width: 15vh;
  margin-left: 9vh;
  margin-top: 5vh;
}

.section.slide8 .after .o___yuy #fivei {
  width: 25vh;
  margin-left: 9vh;
  margin-top: 5vh;
}

.section.slide8 .after .o___yuy #fouri {
  width: 10vh;
  margin-left: 10vh;
  margin-top: 5vh;
}

.section.slide10 .title {
  position: absolute;
  top: 8vh;
  width: 100%;
  text-align: center;
  font-family: "Ubuntu";
}

.section.slide10 .title span {
  font-size: 2.5vh;
  text-transform: capitalize;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.5s opacity;
  transition: 0.5s transform, 0.5s opacity, 0.5s -webkit-transform;
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
  opacity: 0;
}

.section.slide10 .con {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section.slide10 .con .fg {
  position: relative;
  width: 25vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2vh;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.section.slide10 .con .fg.nt90 {
  opacity: 0;
}

.section.slide10 .con .fg .con-def {
  width: 100%;
  height: 5vh;
  font-family: "Ubuntu";
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.1vh solid #000;
  padding: 1.5vh 0.5vh;
}

.section.slide10 .con .fg .con-def span {
  font-size: 1.8vh;
}

.section.slide10 .con .fg .con-img {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.1vh solid #000;
  border-left: 0.1vh solid #000;
  border-right: 0.1vh solid #000;
  padding: 0.5vh;
}

.section.slide10 .con .fg .con-img img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section.slide10.active .title span {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  opacity: 1;
}

.section.slide12 .tit {
  position: absolute;
  top: 8vh;
  left: 50%;
  -webkit-transform: translate(-50%, -40vh);
          transform: translate(-50%, -40vh);
  -webkit-transition: .5s opacity,.5s transform;
  transition: .5s opacity,.5s transform;
  font-size: 2.5vh;
  font-family: "Ubuntu";
  opacity: 0;
}

.section.slide12 .one-cr {
  position: absolute;
  left: 0;
  top: 35vh;
  width: 50%;
  opacity: 0;
  -webkit-transition: .5s top , .5s opacity;
  transition: .5s top , .5s opacity;
}

.section.slide12 .one-cr span {
  position: relative;
  text-align: center;
  width: 100%;
  color: #040f47;
  left: 38%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.3vh;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section.slide12 .one-cr p {
  text-align: left;
  font-size: 2vh;
  line-height: 4vh;
  margin-left: 2vh;
  margin-top: 5vh;
}

.section.slide12 .one-cr img {
  width: 30vh;
  -webkit-transform: translateX(37vh);
          transform: translateX(37vh);
  margin-top: 5vh;
}

.section.slide12 .two-cr {
  position: absolute;
  left: 50%;
  top: 35vh;
  width: 50%;
  opacity: 0;
  -webkit-transition: .5s top , .5s opacity;
  transition: .5s top , .5s opacity;
}

.section.slide12 .two-cr span {
  position: relative;
  text-align: center;
  width: 100%;
  color: #040f47;
  left: 38%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.3vh;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section.slide12 .two-cr p {
  text-align: justify;
  width: 95%;
  font-size: 1.8vh;
  line-height: 4vh;
  margin-left: 2vh;
  margin-top: 5vh;
}

.section.slide12 .two-cr img {
  width: 30vh;
  -webkit-transform: translateX(37vh);
          transform: translateX(37vh);
  margin-top: 5vh;
}

.section.slide12.active .tit {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.section.slide12.active .one-cr {
  opacity: 1;
  top: 25vh;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.section.slide12.active .two-cr {
  opacity: 1;
  top: 25vh;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
/*# sourceMappingURL=style.css.map */