@-webkit-keyframes bottomit {
  100% {
    height: 0;
    top: 100%;
  }
}

@keyframes bottomit {
  100% {
    height: 0;
    top: 100%;
  }
}

@-webkit-keyframes topit {
  100% {
    height: 0;
    bottom: 100%;
  }
}

@keyframes topit {
  100% {
    height: 0;
    bottom: 100%;
  }
}

@-webkit-keyframes rotateIT {
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}

@keyframes rotateIT {
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}

@-webkit-keyframes scale1 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scale1 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes width50 {
  100% {
    width: 50%;
  }
}

@keyframes width50 {
  100% {
    width: 50%;
  }
}

@-webkit-keyframes height100 {
  100% {
    height: 100vh;
  }
}

@keyframes height100 {
  100% {
    height: 100vh;
  }
}

@-webkit-keyframes slideUph1 {
  100% {
    top: 23vh;
    opacity: 1;
  }
}

@keyframes slideUph1 {
  100% {
    top: 23vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideUph2 {
  100% {
    top: 52vh;
    opacity: 1;
  }
}

@keyframes slideUph2 {
  100% {
    top: 52vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideUpspan {
  100% {
    top: 67vh;
    opacity: 1;
  }
}

@keyframes slideUpspan {
  100% {
    top: 67vh;
    opacity: 1;
  }
}

@-webkit-keyframes slideh3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideh3 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes op1 {
  100% {
    opacity: 1;
  }
}

@keyframes op1 {
  100% {
    opacity: 1;
  }
}

.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  outline: none;
}

.section.slide1 .anime-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.slide1 .anime-background div {
  position: relative;
  width: calc(100% / 10);
  height: 100vh;
  z-index: 9;
}

.section.slide1 .anime-background div.top {
  background: #5c71c6;
  bottom: 0%;
}

.section.slide1 .anime-background div.bottom {
  background: #dadff3;
  top: 0%;
}

.section.slide1 .right-sec {
  position: absolute;
  width: 50%;
  right: 0;
  height: 0;
  bottom: 0;
  background-color: #f6f6f8;
  -webkit-animation: height100 1s ease-out 7.3s forwards;
          animation: height100 1s ease-out 7.3s forwards;
}

.section.slide1 .right-sec img#fr-RT-190 {
  width: 15vh;
  position: absolute;
  top: 13vh;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 10vh;
  -webkit-filter: invert(40%) sepia(82%) saturate(375%) hue-rotate(191deg) brightness(95%) contrast(94%);
          filter: invert(40%) sepia(82%) saturate(375%) hue-rotate(191deg) brightness(95%) contrast(94%);
  -webkit-animation: rotateIT 2s linear infinite 8.3s, op1 1s linear 8.3s forwards;
          animation: rotateIT 2s linear infinite 8.3s, op1 1s linear 8.3s forwards;
  opacity: 0;
}

.section.slide1 .right-sec img#fr-RT_79 {
  width: 52vh;
  position: absolute;
  top: 53%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin-left: 50%;
  -webkit-animation: scale1 1s ease-in-out 8.5s forwards;
          animation: scale1 1s ease-in-out 8.5s forwards;
}

.section.slide1 .left-sec {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100vh;
  background-color: #5c71c6;
  -webkit-animation: width50 1s ease-out 3.5s forwards;
          animation: width50 1s ease-out 3.5s forwards;
}

.section.slide1 .left-sec h1 {
  font-size: 8vh;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 0.3vh;
  position: absolute;
  top: 45vh;
  line-height: 11vh;
  opacity: 0;
  -webkit-animation: slideUph1 0.9s ease-in-out 4.5s forwards;
          animation: slideUph1 0.9s ease-in-out 4.5s forwards;
}

.section.slide1 .left-sec h2 {
  font-size: 3vh;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 0.3vh;
  position: absolute;
  top: 65vh;
  opacity: 0;
  -webkit-animation: slideUph2 0.7s ease-in-out 5.4s forwards;
          animation: slideUph2 0.7s ease-in-out 5.4s forwards;
}

.section.slide1 .left-sec span {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  color: #5c71c6;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8vh;
  padding: 1.5vh 3vh;
  text-align: center;
  top: 80vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: slideUpspan 0.7s ease-in-out 6.1s forwards;
          animation: slideUpspan 0.7s ease-in-out 6.1s forwards;
}

.section.slide1 .left-sec .botm {
  position: absolute;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 5vh;
  left: 50%;
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.section.slide1 .left-sec .botm h3 {
  letter-spacing: 0.2vh;
  opacity: 0;
  font-size: 2vh;
}

.section.slide1 .left-sec .botm h3:first-of-type {
  -webkit-transform: translateX(-30vh);
          transform: translateX(-30vh);
  -webkit-animation: slideh3 0.5s ease-in-out 6.8s forwards;
          animation: slideh3 0.5s ease-in-out 6.8s forwards;
}

.section.slide1 .left-sec .botm h3:last-of-type {
  -webkit-transform: translateX(30vh);
          transform: translateX(30vh);
  -webkit-animation: slideh3 0.5s ease-in-out 6.8s forwards;
          animation: slideh3 0.5s ease-in-out 6.8s forwards;
}

.section.slide2 {
  font-family: "Ubuntu", sans-serif;
}

.section.slide2 h3 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 8vh);
          transform: translate(-50%, 8vh);
  font-size: 5vh;
  margin: 10vh 0;
  color: #5d72c6;
  letter-spacing: 0.2vh;
  -webkit-transition: 0.7s opacity, 0.7s -webkit-transform;
  transition: 0.7s opacity, 0.7s -webkit-transform;
  transition: 0.7s opacity, 0.7s transform;
  transition: 0.7s opacity, 0.7s transform, 0.7s -webkit-transform;
  opacity: 0;
}

.section.slide2 ul {
  position: absolute;
  top: 24vh;
  list-style: decimal;
  margin-left: 6vh;
}

.section.slide2 ul li {
  font-size: 3.5vh;
  margin: 5vh 0;
  color: #040f47;
  font-weight: 500;
  letter-spacing: 0.2vh;
  -webkit-transform: translateX(10vh);
          transform: translateX(10vh);
  opacity: 0;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.5s opacity;
  transition: 0.5s transform, 0.5s opacity, 0.5s -webkit-transform;
}

.section.slide2 div.con {
  position: absolute;
  left: 90%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  width: 70vh;
  height: auto;
}

.section.slide2 div.con img {
  width: 100%;
}

.section.slide2 div.con::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-transition: 0.5s height;
  transition: 0.5s height;
}

.section.slide2.active h3 {
  -webkit-transform: translate(-50%, 0vh);
          transform: translate(-50%, 0vh);
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section.slide2.active li:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.section.slide2.active li:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.section.slide2.active li:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.section.slide2.active li:nth-child(4) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.section.slide2.active li:nth-child(5) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

.section.slide2.active li:nth-child(6) {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.section.slide2.active div.con::before {
  height: 0;
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

.section.slide3 {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.section.slide3 svg {
  position: absolute;
  top: 55%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
}

.section.slide3 svg g#board {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  overflow: hidden;
  -webkit-transition: 1s -webkit-clip-path;
  transition: 1s -webkit-clip-path;
  transition: 1s clip-path;
  transition: 1s clip-path, 1s -webkit-clip-path;
}

.section.slide3 svg g#board #text {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-transition: 0.8s -webkit-clip-path;
  transition: 0.8s -webkit-clip-path;
  transition: 0.8s clip-path;
  transition: 0.8s clip-path, 0.8s -webkit-clip-path;
}

.section.slide3 svg g#board #question-mark {
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  opacity: 0;
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s transform;
  transition: 0.5s opacity, 0.5s transform, 0.5s -webkit-transform;
}

.section.slide3 svg g#teacher {
  display: none;
  opacity: 0;
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s transform;
  transition: 0.5s opacity, 0.5s transform, 0.5s -webkit-transform;
}

.section.slide3.active svg g#board {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section.slide3.active svg g#board #text {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.section.slide3.active svg g#board #question-mark {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  opacity: 1;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.section.slide4 .top-sec_title {
  position: absolute;
  top: 0;
  font-size: 3vh;
  letter-spacing: .2vh;
  font-family: "Ubuntu",sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.slide4 .top-sec_title img {
  width: 15vh;
  margin-left: 10vh;
  -webkit-transform: translateY(-2.5vh);
          transform: translateY(-2.5vh);
}

.section.slide4 .con-TY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150vh;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 26vh;
}

.section.slide4 .con-TY span {
  font-family: "Ubuntu";
  letter-spacing: .2vh;
  font-size: 2.3vh;
  text-transform: capitalize;
  background-color: #5c71c6;
  color: #fff;
  padding: .8vh 2vh;
}

.section.slide4 .con-TY span:last-of-type {
  padding: .8vh 3vh;
}

.section.slide4 .uls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150vh;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 36vh;
}

.section.slide4 .uls .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.section.slide4 .uls .ul.two {
  -webkit-transform: translateX(14Vh);
          transform: translateX(14Vh);
}

.section.slide4 .uls .ul li {
  list-style: none;
  font-size: 2vh;
  margin: 2vh 0;
  font-family: sans-serif;
  text-transform: capitalize;
}
/*# sourceMappingURL=style.css.map */